.gradle
.studio
.idea
*.ipr
*.iml
*.iws
*.sh
.attach*
build/*
deploy/*
modules/*/build/*
out
test-run
modules/core/web/META-INF/context.xml
modules/core/web/META-INF/war-context.xml
modules/core/src/com/company/nl/app.properties
modules/core/src/com/company/nl/test_app.properties
extra.gradle
/modules/core/deploy/
/modules/core/opt/
/buildSrc